<section class="form">
    <h2>Nova cobertura</h2>

    <form action="/admin/add/cobertura" method="POST">
        <label for="nome">Nome da cobertura</label>
        <input type="text" name="nome" id="nome" placeholder="Digite o nome da cobertura">
        <br>
        <label for="subtitulo">Subtítulo da cobertura</label>
        <input type="text" name="subtitulo" id="subtitulo" placeholder="Digite o subtitulo da cobertura">
        <br>
        <label for="data" id="inputDate">Data da cobertura</label>
        <input type="date" name="data" id="data">
        <br>
        <label for="imagens" id="inputFile">Enviar imagens</label>
        <input type="file" name="imagens" id="imagens" multiple>
        <br>
        <button type="submit">Add cobertura</button>
    </form>
</section>