<section class="form">
    <h2>Add imagens</h2>

    <form action="/admin/add/cobertura" method="POST">
        <label for="nome">Associar cobertura</label>
        <select name="" id="" class="customSelect">
            <option value="" selected>- Selecione a cobertura -</option>
            <option value="" class="customOption">Cobertura 1</option>
            <option value="" class="customOption">Cobertura 2</option>
            <option value="" class="customOption">Cobertura 3</option>
        </select>
        <label for="imagens" id="inputFile">Enviar imagens</label>
        <input type="file" name="imagens" id="imagens" multiple>
        <br>
        <button type="submit">Add imagens à cobertura</button>
    </form>
</section>