<section>
    <h2>Listagem de coberturas</h2>
    <table>
        <thead>
            <th>Nome da cobertura</th>
        </thead>
        <tbody>
    {{#each coberturas}}
            <tr>
                <td>{{{nomeCobertura}}} - {{{subtituloCobertura}}}</td>
            </tr>
        </tbody>
    </table>
    {{else}}
    Ainda não há coberturas cadastrada.
    {{/each}}
</section>