<h1 style="font-size: 50px; text-transform: uppercase; color: var(--color-success); line-height: 40px;">Painel admin</h1>
<article style="font-size: 16px; text-transform: uppercase; color: var(--color-light)">
    Seja bem vindo!
</article>