<section class="AnunWithoutSideBar">
    <article class="anun_3x">
        <h1>Anuncie aqui</h1>
    </article>
    <article class="anun_3x">
        <h1>Anuncie aqui</h1>
    </article>
    <article class="anun_3x">
        <h1>Anuncie aqui</h1>
    </article>
</section>