<header>
    <section>
        <div>
            <h1>
                <a href="/">PORTAL <span>A3</span></a>
            </h1>
        </div>
        {{>_navbar}}
    </section>
    <section>
        <div>
            <h1>Portal de <span>eventos</span></h1>
        </div>
        <div>
            <h3>Seu portal de entretenimento</h3>
        </div>
    </section>
</header>