<div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/coberturas">Coberturas</a></li>
            <li><a href="/faleconosco">Fale Conosco</a></li>
        </ul>
    </nav>
</div>