<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}} - Portal de Eventos</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <section>
                <div>
                    <h1>
                        <a href="/">LOGOTIPO</a>
                    </h1>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/sobre">Sobre</a></li>
                            <li><a href="/coberturas">Coberturas</a></li>
                            <li><a href="/faleconosco">Fale Conosco</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
            <section>
                <div>
                    <h1>Portal de <span>eventos</span></h1>
                </div>
                <div>
                    <h3>Seu portal de entretenimento</h3>
                </div>
            </section>
        </header>
        <main>
            <section>
                {{{body}}}
            </section>
            <aside>
                <h1>Publicidade</h1>
                <article>Anuncie aqui.</article>
            </aside>
        </main>
        <section>
            <article>
                <h1>Anuncie aqui</h1>
            </article>
        </section>
        <footer>
            <div>
                Todos os direitos reservados - Portal de eventos
            </div>
            <div>
                Maked with <span>♥</span> by <a href="#">Othon Felipe</a>
            </div>
        </footer>
    </div>

    <script src="js/script.js"></script>
</body>

</html>