<section id="containerCoberturas">
    <h1>Coberturas</h1>
    <article>
        {{#if coberturas}}
            {{#each coberturas}}
                <div class="cobertura">
                    <img src="../assets/coberturas/{{{cover}}}.webp" alt="{{{nomeDoEvento}}}">
                    <h2>{{{nomeDoEvento}}}</h2>
                </div>    
            {{/each}}
        {{else}}
            <span>Ainda não temos coberturas disponíveis.</span>
        {{/if}}
    </article>
    <section class="pagination">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </section>
</section>