<section id="containerCoberturas">
    <h1>Coberturas</h1>
    <article>
        <div class="cobertura">
            <img src="../assets/coberturas/cover1.webp" alt="Capa do 치lbum">
            <h2>Cobertura 1</h2>
        </div>
        <div class="cobertura">
            <img src="../assets/coberturas/cover1.webp" alt="Capa do 치lbum">
            <h2>Cobertura 2</h2>
        </div>
        <div class="cobertura">
            <img src="../assets/coberturas/cover1.webp" alt="Capa do 치lbum">
            <h2>Cobertura 3</h2>
        </div>
        <div class="cobertura">
            <img src="../assets/coberturas/cover1.webp" alt="Capa do 치lbum">
            <h2>Cobertura 4</h2>
        </div>
    </article>
    <section class="pagination">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </section>
</section>