<section>
    <h1>Coberturas</h1>
    <article>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed voluptates veniam ullam reiciendis maiores praesentium fugiat rerum, iusto asperiores aut suscipit odit cum assumenda expedita aperiam maxime, adipisci corrupti fuga.
    </article>
</section>