<section>
    <h1>Coberturas</h1>
    <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi earum qui nihil quae! Molestias, quos
        dignissimos consequuntur aut ratione eaque dolor reiciendis. Aliquid error earum atque ut esse, eos neque.
    </article>
</section>
<section id="agenda">
    <h1>Agenda Semanal</h1>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, repellat! In cum porro, hic veniam,
        asperiores atque aliquam ducimus alias libero et vero soluta repudiandae distinctio harum, reprehenderit
        doloribus placeat?
    </article>
</section>