<section>
    <h1>Sobre</h1>
    <article>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi esse tenetur, ipsum laborum quaerat inventore corrupti totam, accusantium ipsa blanditiis voluptate earum exercitationem eaque beatae numquam quod cumque velit est.
    </article>
</section>