@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --color-primary: #00FF94;
    --color-secondary: #E2E2E2;
    --color-light: #FFFFFF;
    --color-dark: #2b2b2b;
    --color-blue: #0088ff;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* overflow-x: hidden; */
}

html,
body {
    width: 100%;

    color: var(--color-light);
    background: linear-gradient(-35deg, #3C6554, #262626) no-repeat;
    scroll-behavior: smooth;
}

/* SCROLLBAR INÃCIO */
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--color-dark);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 5px solid var(--color-dark);
    /* creates padding around scroll thumb */
} /* SCROLLBAR FIM */

.container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.container>header {
    position: relative;
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    z-index: 1;
}

.container>header::before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;

    content: "";
    background: url('../assets/party_bg.webp') no-repeat;
    background-position: center;
    background-size: cover;

    opacity: .3;
    z-index: -1000;
}

.container>header>section:first-child {
    width: 100%;
    height: 178px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.container>header>section:first-child>div:first-child {
    width: 50%;
}

.container>header>section:first-child>div:first-child>h1 {
    text-align: center;
    font-size: 40px;
    color: var(--color-primary);
}

.container>header>section:first-child>div:last-child {
    width: 50%;
}

.container>header>section:first-child>div:last-child>nav>ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.container>header>section:first-child>div:last-child>nav>ul>li>a {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-light);
    z-index: 2;
}

.container>header>section:first-child>div:last-child>nav>ul>li>a:hover {
    opacity: .7;
}

.container>header>section:last-child {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container>header>section:last-child>div:first-child>h1 {
    margin-left: calc(100vw/5);
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
}

.container>header>section:last-child>div:first-child>h1>span {
    background: -webkit-linear-gradient(45deg, #0F9, #08f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: var(--color-primary);
}

.container>header>section:last-child>div:last-child>h3 {
    margin-left: calc(100vw/5);
    font-size: 35px;
    font-weight: 200;
    text-transform: uppercase;
}

.container>main {
    width: 100%;
    padding: 100px;

    display: flex;
    justify-content: space-around;

    background-color: var(--color-dark);
}

.contianer>main>section:first-child {
    width: 60%;
}

.container>main>aside {
    width: 40%;
}

.container>main>aside>h1 {
    position: relative;
    margin-bottom: 20px;
    padding-left: 15px;

    font-size: 35px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, #0F9, #08f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container>main>aside>h1::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: var(--color-secondary);
}

/* HomePage */
.container>main>section>section>h1 {
    position: relative;
    margin-bottom: 20px;
    padding-left: 15px;

    font-size: 35px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, #0F9, #08f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container>main>section>section>h1::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: var(--color-secondary);
}

.container>main>section>#agenda>h1 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 15px;

    font-size: 35px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, #0F9, #08f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container>main>section>#agenda>h1::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: var(--color-secondary);
} /* END HomePage */

/* PUBLICIDADE MAIOR */
.container > section{
    position: relative;
    width: 100%;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to right, #0F9, rgb(0, 157, 255));
    z-index: 1;
}

.container > section::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 300px;
    top: 0;
    background: url('../assets/party_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: .3;
}

.container > section > article{
    width: 80%;
    height: 180px;

    border: 1px solid var(--color-dark);
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-dark);
    box-shadow: 0px 3px 16px 10px #33333366;
}

.container > section > article > h1{
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--color-primary);
} /* END PUBLICIDADE MAIOR */

.container > footer{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 16px;
    font-weight: 200;

    color: var(--color-secondary);
    background-color: var(--color-dark);
}

.container > footer > div:last-child > span{
    color: red;
}

.container > footer > div:last-child > a{
    text-decoration: none;
    color: var(--color-primary);
}

.container > footer > div:last-child > a:hover{
    opacity: .5;
}