<section id="containerCoberturas">
    <h1>Coberturas</h1>
    <article>
        {{#if coberturas}}
            {{#each coberturas}}
                <div class="cobertura">
                    <img src="../assets/coberturas/cover1.webp" alt="{{{nomeCobertura}}}">
                    <h2>{{{nomeCobertura}}}</h2>
                </div>    
            {{/each}}
        {{else}}
            <span>Ainda não temos coberturas disponíveis.</span>
        {{/if}}
    </article>
    <section class="pagination">
        <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </section>
</section>